body {
  font-family: 'Montserrat Alternates', sans-serif;
  
  margin: 0;
  padding: 0; 
  
}

header { 
  background-color: #03372e;
  color: #fff;
  padding-bottom: 50px ;
  padding: 40px;
  text-align: center;
  font-size: 25px;
}

.profile {
  display:flex; 
  flex-direction: column;
  align-items: center; 
  margin-top: -50px; 
  margin-bottom: 30px;   
  font-size: 20px;
}

.profile img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  margin-left:50px;
  margin-right:50px;
  object-fit: cover;
  border: 7px solid white;
  margin-bottom: 20px;
}

.about { 
  background-color: #bdc7c7;
  text-align: center;
  padding:13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  
}

.about_me{
  width: 60%; 
  font-size: 20px;
  text-align:justify;
}

.gallery {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 30px 110px 50px 110px;
}

.naming{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.gallery img { 
  width: 400px;
  align-items: center; 
  object-fit: cover;
  margin-bottom: 20px;
 
}

footer {
  background-color: #03372e;
  color: #fff;
  padding: 20px;
  text-align: center;
} 
 
 .gallery__img{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  position: relative;
  flex-grow: 2;
 }

 .img__description_inst{
  font-size: 10px;
 }
 
 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 79%;
  background-color: #03372e;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
  
